
{% if user.is_authenticated%}
Logged in as {{  user.username }}

<a href="{% url 'createtodo' %}">Create Todo</a>&nbsp&nbsp
<a href="{% url 'currenttodo' %}">Current Todo</a>&nbsp&nbsp
<a href="{% url 'completedtodo' %}">Completed Todo</a>&nbsp


<form action="{% url 'logoutuser' %}" method="POST">
    {% csrf_token %}
<button type="submit">Logout</button>
</form>
{% else %}
<a href=" {% url 'signupuser' %}">Sign Up</a> &nbsp
<a href="{% url 'loginuser' %}">Login</a>
{% endif %}


{% block content %}{% endblock  %}